   > ## Importation des librairies:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

> ## Importation des algorithmes:

In [2]:
from sklearn import datasets, linear_model 
from sklearn.metrics import mean_squared_error

> ## Importation du jeu de donnees et description:

In [3]:
Stress = pd.read_excel (r"C:\Users\Utilisateur\Documents\Master 2\Machine Learning\BDD.xlsx")

 > ## Importation du jeu de donnees et description:

In [4]:
Stress.keys

<bound method NDFrame.keys of         tl      sr      rr     hr      bo     rem      lm       t  sl
0    1.840  93.800  25.680  74.20  89.840   99.60  16.600  91.840   3
1    1.552  91.640  25.104  72.76  89.552   98.88  15.880  91.552   3
2    7.000  60.000  20.000  60.00  95.000   85.00  10.000  96.000   1
3    0.768  85.760  23.536  68.84  88.768   96.92  13.920  90.768   3
4    8.248  48.120  17.248  53.12  96.248   72.48   6.496  97.872   0
..     ...     ...     ...    ...     ...     ...     ...     ...  ..
625  3.440  69.600  20.960  62.40  90.960   89.80  10.960  92.960   2
626  8.376  48.440  17.376  53.44  96.376   73.76   6.752  98.064   0
627  0.000  97.504  27.504  78.76  84.256  101.88  17.752  86.880   4
628  6.728  58.640  19.728  59.32  94.592   84.32   9.728  95.728   1
629  4.088  73.920  21.392  63.48  91.392   91.96  11.392  93.392   2

[630 rows x 9 columns]>

In [5]:
print (Stress.sr)
print (Stress.sl[0:3])

0      93.800
1      91.640
2      60.000
3      85.760
4      48.120
        ...
625    69.600
626    48.440
627    97.504
628    58.640
629    73.920
Name: sr, Length: 630, dtype: float64
0    3
1    3
2    1
Name: sl, dtype: int64

In [6]:
Stress.head()

      tl     sr      rr     hr      bo    rem      lm       t  sl
0  1.840  93.80  25.680  74.20  89.840  99.60  16.600  91.840   3
1  1.552  91.64  25.104  72.76  89.552  98.88  15.880  91.552   3
2  7.000  60.00  20.000  60.00  95.000  85.00  10.000  96.000   1
3  0.768  85.76  23.536  68.84  88.768  96.92  13.920  90.768   3
4  8.248  48.12  17.248  53.12  96.248  72.48   6.496  97.872   0

In [7]:
print(Stress.columns)

Index(['tl', 'sr', 'rr', 'hr', 'bo', 'rem', 'lm', 't', 'sl'], dtype='object')

In [8]:
Stress.describe()

,tl,sr,rr,hr,bo,rem,lm,t,sl
count,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000,630.00000,630.000000
mean,3.700000,71.600000,21.800000,64.500000,90.900000,88.500000,11.700000,92.80000,2.000000
std,3.054572,19.372833,3.966111,9.915277,3.902483,11.893747,4.299629,3.52969,1.415337
min,0.000000,45.000000,16.000000,50.000000,82.000000,60.000000,4.000000,85.00000,0.000000
25%,0.500000,52.500000,18.500000,56.250000,88.500000,81.250000,8.500000,90.50000,1.000000
50%,3.500000,70.000000,21.000000,62.500000,91.000000,90.000000,11.000000,93.00000,2.000000
75%,6.500000,91.250000,25.000000,72.500000,94.250000,98.750000,15.750000,95.50000,3.000000
max,9.000000,100.000000,30.000000,85.000000,97.000000,105.000000,19.000000,99.00000,4.000000

In [9]:
x = Stress.columns[0:8]
y = Stress.columns[8]

In [10]:
print(x)

Index(['tl', 'sr', 'rr', 'hr', 'bo', 'rem', 'lm', 't'], dtype='object')

In [11]:
print(y)

sl

In [12]:
Stress.dtypes

tl     float64
sr     float64
rr     float64
hr     float64
bo     float64
rem    float64
lm     float64
t      float64
sl       int64
dtype: object

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(x)
Xs = pd.DataFrame(data=Xs, columns=[0][:8])
Xs.describe()
Xs.head()

> ## Demarrage de la phase d'apprentissage:

In [13]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.2)

ValueError: Found input variables with inconsistent numbers of samples: [8, 2]